<div class="nested-fields row">
  <%= f.association :peril, label: false, wrapper_html: { class: 'col-sm-8' } %>
  <div class="col-sm-4">
    <%= link_to_remove_association "remove peril", f, class: 'btn btn-secondary btn-sm text-white' %>
  </div>
</div>
