<h3 class="text-center">Edit Information</h3>

<%= render 'form', claims_tat: @claims_tat %>

<%= link_to 'Home', claims_index_path, class: 'btn btn-success float-left mx-1' %>
<%#= link_to 'Show', @claims_tat, class: 'btn btn-primary' %>
<%#= link_to 'Back', claims_tats_path %>
